@import "tailwindcss";

/* PRELOADED STYLES */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* FONTS */
@font-face {
  font-family: 'Crostan';
  src: url('/fonts/crostan-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Crostan';
  src: url('/fonts/crostan-semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crostan';
  src: url('/fonts/crostan-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gondens DEMO';
  src: url('/fonts/gondens-demo-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.font-crostan {
  font-family: 'Crostan', sans-serif;
}

.font-gondens {
  font-family: 'Gondens DEMO', sans-serif;
} 

/* BODY */
.body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

/* NAVBAR STYLES */
.nav {
  width: 81vw;
  margin: 0 auto;
  padding: 0.4rem 0;
  background-color: #FAF4C4;
  border-color: #301C1B;
  border-width: 3px;
  border-radius: 21px;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.nav-links {
  font-family: 'Crostan';
  font-weight: 700;
  font-size: 1.5625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  color:#301C1B;
}

/* HOME PAGE STYLES */

.home-bg {
  background-color: #FAF4C4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  min-height: 100vh;
  padding-top: 16vh;

  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.image-row {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;

  top: 3.62vh;
  left: -40vw;
  gap: 2.34vw;
  z-index: 0;
}

.title-bkgrd-img {
  width: 46vw;
  object-fit: cover;
  display: block;

  padding: 0.8rem;
  border-color: #301C1B;
  border-width: 3px;
  border-radius: 21px;
}

.big-title {
  font-family: 'Gondens DEMO';
  font-weight: 400;
  font-size: 12.5rem;
  color: #301C1B;
  -webkit-text-stroke: 3px #FAF4C4;

  margin-top: 30vh;
  z-index: 1;
}

.title-description {
  font-family: 'Crostan';
  font-weight: 600;
  font-size: 1.5625rem;
  color: #301C1B;
  margin-top: 0;
  margin-bottom: 0;
}

.home-content {
  width: 70vw;
  height: 90vh;

  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 20px;
}

.arrow-box {
  width: 50vw;
  height: 90vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  background-color: #FAF4C4;
  border-color: #301C1B;
  border-width: 4px;
  border-radius: 21px;
}

.postcard-img {
  width: auto;
  height: 90%;
  margin: 0 auto;
}

.button {
  font-family: 'Crostan';
  font-weight: 700;
  font-size: 1.5625rem;
  color: #FAF4C4;
  background-color: #301C1B;

  width: 46.64vw;
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  margin-bottom: 12vh;

  padding: 0.8rem;
  border-color: #301C1B;
  border-width: 3px;
  border-radius: 21px;
}

/* ____ PAGE STYLES */
